html, body {
  margin: 0;
  padding: 0;
}
.header-bar{
  height: 10vh;
  width: 100vw;
  background-color: rgb(0, 33, 71);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}
.Logo{
  display: flex;
  height: 10vh;
  width: 5vw;
  margin-left: 8vw;
}
.website-context{
  margin-left: 1vw;
  margin-bottom: 0;
  color: white;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 700;
  vertical-align: top;
}
.wcontext-second{
  margin-left: 1vw;
  margin-top: 0;
  color: rgb(255, 215, 0);
  font-family: sans-serif;
  font-size: 12px;
  vertical-align: top;
}
.header-pages{
  display: flex;
  margin-top: 4vh;
  align-items: middle;
  margin-left: 50vw;
}
.home-page, .liveRoutes-page, .schedules-page, .contact-page{
  color: white;
  text-decoration: none;
  display: inline-block;
  font-family: sans-serif;
  font-size: 12px;
  transition: color 0.2s;
}
.home-page:hover, .liveRoutes-page:hover, .schedules-page:hover, .contact-page:hover{
  color: rgb(255, 215, 0);
  text-decoration: none;
  display: inline-block;
  font-family: sans-serif;
  font-size: 12px;
}
.home-trip-planner{
  background-image: linear-gradient(to right, rgb(0, 33, 71), rgb(0, 85, 135));
  width: 100vw;
  height: 45vh;
  margin-top: 10vh;
  left: 0;
  margin-left:0;
  padding-left: 0;
}
.hometrip-text1{
  padding-top: 5vh;
  font-family: sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: white;
}
.hometrip-text1, .hometrip-text2{
  text-align: center;
  font-family: sans-serif;
  color: white;
  margin-bottom: 0px;
}
.hometrip-text2{
  margin-top: 10px;
  font-size: 14px;
}
.plan-box{
  background-color: white;
  height: 26vh;
  width: 45vw;
  margin: auto;
  border-radius: 5px;
}
.planbox-header-text{
  margin-top: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: rgb(0, 33, 71);
  color: white;
  align-items: center;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.from-info-text{
  margin-left: 7vw;
  margin-right: 12.5vw;
}
.to-info-text{
  margin-right: 12.5vw;
}
.from-info-text, .to-info-text, .when-info-text{
  display: inline-block;
  font-family: sans-serif;
  font-size: 12px;
  color: rgb(45, 44, 44);
}
.from-info-box{
  margin-left: 2vw;
}
.from-info-box, .to-info-box, .when-info-box{
  display: inline-block;
  margin-right: 1.5vw;
  width: 12vw; 
  height: 4vh;
  border: 1px solid rgb(230, 231, 233);
  background-color: white;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 12px;
  color: rgb(230, 231, 233);
}
.from-info-box::placeholder, .to-info-box::placeholder, .when-info-box::placeholder {
  color: rgb(150, 150, 150); 
  padding-left: 5px;
}
.trip-plan-button{
  height: 4.5vh;
  width: 42vw;
  margin-top: 2.5vh;
  margin-left: 1.5vw;
  border: none;
  border-radius: 5px;
  background-color: rgb(255, 215, 0);
  font-family: sans-serif;
  font-weight: 700;
  font-size: 12px;
  transition: 0.2s;
}
.trip-plan-button:hover{
  background-color: rgb(202, 138, 4);
  cursor: pointer;
}
.home-page-live-bus{
  margin-top: 25px;
}
.home-live-bus-header{
  color: rgb(0, 33, 71);
  margin-left: 12%;
  font-family: sans-serif;
  font-weight: 700;
}
.home-page-current-bus-header{
  margin-top: 20px;
  margin-left: 10%;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: white;
  background-color: rgb(0, 33, 71);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  width: 80vw;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.home-current-buses-box{
  height: 270px;
  margin-left: 10%;
  padding-top: 20px;
  padding-left: 12px;
  width: 80vw;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden; /*because of margin collapse*/
  margin-bottom: 10px;
}
.home-current-buses-mini-box1{
  width: 340px;
  height: 245px; 
  background-color: white;
  border: solid;
  border-color: rgb(240, 242, 245);
  border-width: 1px;
  border-radius: 8px;
  margin-left: 10px;
  display: inline-block;
}
.home-current-buses-mini-box2{
  width: 340px;
  height: 245px;
  background-color: white;
  border: solid;
  border-color: rgb(240, 242, 245);
  border-width: 1px;
  border-radius: 8px;
  margin-left: 10px;
  display: inline-block;
}
.home-current-buses-mini-box3{
  width: 340px;
  height: 245px;
  background-color: white;
  border: solid;
  border-color: rgb(240, 242, 245);
  border-width: 1px;
  border-radius: 8px;
  margin-left: 10px;
  display: inline-block;
}